# ⚡데이콘: 전력사용량 예측 AI 경진대회

---
#### Overview
[건물 정보와 기후 정보를 활용한 전력사용량 에측](https://dacon.io/competitions/official/235736/overview/description)
```
주제
1. 전력 수요 예측 시뮬레이션을 통한 효율적인 인공지능 알고리즘 발굴
2. 전력 융합 신서비스 발굴 및 비즈니스 모델 개발 활용
3. 디지털 뉴딜의 성공을 위한 인공지능(AI)의 융합, 확산을 촉진
```

머신러닝 회귀분석을 공부하며 대회에 참여해보기!

### Import Library (step. 1)

In [2]:
import pandas as pd
import numpy as np

### Load Data (step. 3)

In [4]:
train = pd.read_csv("C:/Users/User/Downloads/data/energy/train_utf.csv")
print(train.shape)
train.head()

(122400, 10)

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
0,1,2020-06-01 00,8179.056,17.6,2.5,92.0,0.8,0.0,0.0,0.0
1,1,2020-06-01 01,8135.640,17.7,2.9,91.0,0.3,0.0,0.0,0.0
2,1,2020-06-01 02,8107.128,17.5,3.2,91.0,0.0,0.0,0.0,0.0
3,1,2020-06-01 03,8048.808,17.1,3.2,91.0,0.0,0.0,0.0,0.0
4,1,2020-06-01 04,8043.624,17.0,3.3,92.0,0.0,0.0,0.0,0.0

In [5]:
test = pd.read_csv("C:/Users/User/Downloads/data/energy/test_utf.csv")
print(test.shape)
test.head()

(10080, 9)

,num,date_time,기온(°C),풍속(m/s),습도(%),"강수량(mm, 6시간)","일조(hr, 3시간)",비전기냉방설비운영,태양광보유
0,1,2020-08-25 00,27.8,1.5,74.0,0.0,0.0,NaN,NaN
1,1,2020-08-25 01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,2020-08-25 02,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,2020-08-25 03,27.3,1.1,78.0,NaN,0.0,NaN,NaN
4,1,2020-08-25 04,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Preprocessing (step. 4)